<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="fragments/content_layout">
<head>
	<title>字典库</title>
	<link rel="stylesheet" href="/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css" type="text/css"/>
</head>
<body>

<div layout:fragment="content" >

	<div class="col-xs-2">
		<ul id="menu_tv" class="ztree"></ul>
	</div>
	<div id="main"  class="col-xs-10">
		<div id="toolbar">
			<a class="waves-effect waves-button" href="javascript:;" onclick="createAction()"><i class="zmdi zmdi-plus"></i> 新增</a>
			<a class="waves-effect waves-button" href="javascript:;" onclick="updateAction()"><i class="zmdi zmdi-edit"></i> 编辑</a>
			<a class="waves-effect waves-button" href="javascript:;" onclick="deleteAction()"><i class="zmdi zmdi-close"></i> 删除</a>
		</div>
		<table id="table"></table>
	</div>
	<!-- 新增 -->
	<div id="createDialog" class="crudDialog hide" >
		<form>
			<div class="form-group">
				<label for="text">上一级</label>
				<select id="parentId" class="form-control">
					<option value="0">顶级</option>
					<option  th:each="item:${top0List}" th:value="${item.mkey}" th:text="${item.text}">顶级</option>
				</select>
			</div>
			<div class="form-group">
				<label for="mkey">名称</label>
				<input id="mkey" type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="text">取值</label>
				<input id="text" type="text" class="form-control"/>
			</div>

		</form>
	</div>
</div>
<th:block layout:fragment="script">
<script type="text/javascript" src="/plugins/zTree_v3/js/jquery.ztree.all.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	
var treeObj;	
var $table = $('#table');
var pid=0;
$(function() {
	
	$.fn.zTree.init($("#menu_tv"), setting, []);
	
	treeObj = $.fn.zTree.getZTreeObj("menu_tv");
	
	// bootstrap table初始化
	$table.bootstrapTable({
		url: '/sys/dict-list.json',
		height: getHeight(),
		striped: true,
		search: true,
		searchOnEnterKey: true,
		showRefresh: true,
		showToggle: true,
		showColumns: true,
		minimumCountColumns: 2,
		showPaginationSwitch: true,
		clickToSelect: true,
		detailView: true,
		detailFormatter: 'detailFormatter',
		pagination: true,
		paginationLoop: false,
		classes: 'table table-hover table-no-bordered',
		silentSort: false,
		sidePagination: 'server',
		processing: true,
		responseHandler:function(res){
	        
	        return {"total": res.data.length,"rows":res.data};
	    },
	    queryParamsType : "undefined",
        queryParams: function queryParams(params) {   
         
        	var search_key=$('.bootstrap-table').find('.pull-right.search > input').val();
        	var param = {
            	page: params.pageNumber -1,
            	pageSize: params.pageSize,
            	name:search_key,
            	pid:pid
          	};
          return param;
        },
		smartDisplay: false,
		idField: 'dictId',
		sortName: 'dictId',
		sortOrder: 'desc',
		escape: true,
		searchOnEnterKey: true,
		idField: 'dictId',
		maintainSelected: true,
		toolbar: '#toolbar',
		columns: [
			{field: 'state', checkbox: true},
			{field: 'dictId', title: '编号', sortable: true, halign: 'center'},
			{field: 'mkey', title: 'key', sortable: true, halign: 'center'},
			{field: 'text', title: '文本', sortable: true, halign: 'center'},
			{field: 'flag', title: '标记', sortable: true, halign: 'center'},
			{field: 'create_date', title: '时间', sortable: true, halign: 'center'},
			{field: 'action', title: '操作', halign: 'center', align: 'center', formatter: 'actionFormatter', events: 'actionEvents', clickToSelect: false}
		]
	}).on('all.bs.table', function (e, name, args) {
		$('[data-toggle="tooltip"]').tooltip();
		$('[data-toggle="popover"]').popover();  
	});
	
	$('.bootstrap-table').find('.pull-right.search > input').attr('placeholder','输入名称');
});

var setting = {
		async: {
			enable: true,
			type:'get',
			url: '/sys/dict-list.json?pid=0',
			dataFilter:function(treeId, parentNode, resp){

			    return resp.data;
			}		
		},
		data: {
			key : {
	            title : "text", 
	            name : "text" 
	        },
		 	simpleData:{
	            enable:true,
	            idKey:"dictId",
	            pidKey:"parent_id",
	            rootId:"0"//pid为null的表示根节点
	        }
		},
		callback: {
			onAsyncSuccess: function(event, treeId, treeNode, msg){
				
				treeObj.expandAll(true);
				
			},
			onClick:function(event, treeId, treeNode){
				
				pid=treeNode.mkey;
				$table.bootstrapTable('refresh');
				
			}
		  }
		};
		
function actionFormatter(value, row, index) {
    return [
        '<a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a>　',
        '<a class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>　',
        '<a class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="Remove"><i class="glyphicon glyphicon-remove"></i></a>'
    ].join('');
}

window.actionEvents = {
    'click .like': function (e, value, row, index) {
        alert('You click like icon, row: ' + JSON.stringify(row));
        console.log(value, row, index);
    },
    'click .edit': function (e, value, row, index) {
        alert('You click edit icon, row: ' + JSON.stringify(row));
        console.log(value, row, index);
    },
    'click .remove': function (e, value, row, index) {
        alert('You click remove icon, row: ' + JSON.stringify(row));
        console.log(value, row, index);
    }
};
function detailFormatter(index, row) {
	var html = [];
	$.each(row, function (key, value) {
		html.push('<p><b>' + key + ':</b> ' + value + '</p>');
	});
	return html.join('');
}
// 新增
function createAction() {
	$.confirm({
		type: 'dark',
		animationSpeed: 300,
		title: '新增系统',
		content: $('#createDialog').html(),
		buttons: {
			confirm: {
				text: '确认',
				btnClass: 'waves-effect waves-button',
				action: function () {
					$.alert('确认');
				}
			},
			cancel: {
				text: '取消',
				btnClass: 'waves-effect waves-button'
			}
		}
	});
}
// 编辑
function updateAction() {
	var rows = $table.bootstrapTable('getSelections');
	if (rows.length == 0) {
		$.confirm({
			title: false,
			content: '请至少选择一条记录！',
			autoClose: 'cancel|3000',
			backgroundDismiss: true,
			buttons: {
				cancel: {
					text: '取消',
					btnClass: 'waves-effect waves-button'
				}
			}
		});
	} else {
		$.confirm({
			type: 'blue',
			animationSpeed: 300,
			title: '编辑系统',
			content: $('#createDialog').html(),
			//content: 'url:${basePath}/XX/create.html',
			buttons: {
				confirm: {
					text: '确认',
					btnClass: 'waves-effect waves-button',
					action: function () {
						$.alert('确认');
					}
				},
				cancel: {
					text: '取消',
					btnClass: 'waves-effect waves-button'
				}
			}
		});
	}
}
// 删除
function deleteAction() {
	var rows = $table.bootstrapTable('getSelections');
	if (rows.length == 0) {
		$.confirm({
			title: false,
			content: '请至少选择一条记录！',
			autoClose: 'cancel|3000',
			backgroundDismiss: true,
			buttons: {
				cancel: {
					text: '取消',
					btnClass: 'waves-effect waves-button'
				}
			}
		});
	} else {
		$.confirm({
			type: 'red',
			animationSpeed: 300,
			title: false,
			content: '确认删除该系统吗？',
			buttons: {
				confirm: {
					text: '确认',
					btnClass: 'waves-effect waves-button',
					action: function () {
						var ids = new Array();
						for (var i in rows) {
							ids.push(rows[i].systemId);
						}
						$.alert('删除：id=' + ids.join("-"));
					}
				},
				cancel: {
					text: '取消',
					btnClass: 'waves-effect waves-button'
				}
			}
		});
	}
}
/*]]>*/
</script>
</th:block>
</body>
</html>