<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>XXX管理系统</title>

    <link href="plugins/fullPage/jquery.fullPage.css" rel="stylesheet"/>
    <link href="plugins/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"/>
    <link href="plugins/waves-0.7.5/waves.min.css" rel="stylesheet"/>
    <link href="plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
    <link href="css/admin.css" rel="stylesheet"/>
    <style>
	/** skins**/
	#backend-server #header {background: #2283C7;}
	#backend-server .content_tab{background: #2283C7;}
	#backend-server .s-profile>a{background: url() left top no-repeat;}

	</style>
</head>
<body id="backend-server">
<header id="header">
    <ul id="menu">
        <li id="guide" class="line-trigger">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>
        <li id="logo" class="hidden-xs">
            <a href="index.html">
                <img src=""/>
            </a>
            <span id="system_title">XXX管理系统</span>
        </li>
        <li class="pull-right">
            <ul class="hi-menu">
                <!-- 搜索 -->
                <li class="dropdown">
                    <a class="waves-effect waves-light" data-toggle="dropdown" href="javascript:;">
                        <i class="him-icon zmdi zmdi-search"></i>
                    </a>
                    <ul class="dropdown-menu dm-icon pull-right">
                        <form id="search-form" class="form-inline">
                            <div class="input-group">
                                <input id="keywords" type="text" name="keywords" class="form-control" placeholder="搜索"/>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                                </div>
                            </div>
                        </form>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="waves-effect waves-light" data-toggle="dropdown" href="javascript:;">
                        <i class="him-icon zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu dm-icon pull-right">
                        <li class="hidden-xs">
                            <a class="waves-effect" data-ma-action="fullscreen" href="javascript:fullPage();"><i class="zmdi zmdi-fullscreen"></i> 全屏模式</a>
                        </li>
                        <li>
                            <a class="waves-effect" data-ma-action="clear-localstorage" href="javascript:;"><i class="zmdi zmdi-delete"></i> 清除缓存</a>
                        </li>

                        <li>
                            <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-settings"></i> 系统设置</a>
                        </li>
                        <li>
                            <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-run"></i> 退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</header>
<section id="main">
    <!-- 左侧导航区 -->
    <aside id="sidebar">
        <!-- 个人资料区 -->
        <div class="s-profile">
            <a class="waves-effect waves-light" href="javascript:;">

                <div class="sp-info">
                    XXX，您好！
                    <i class="zmdi zmdi-caret-down"></i>
                </div>
            </a>
            <ul class="main-menu">
                <li>
                    <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-account"></i> 个人资料</a>
                </li>
                <li>
                    <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-settings"></i> 系统设置</a>
                </li>
                <li>
                    <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-run"></i> 退出登录</a>
                </li>
            </ul>
        </div>
        <!-- /个人资料区 -->
        <!-- 菜单区 -->
        <ul class="main-menu">
            <li>
                <a class="waves-effect" href="javascript:Tab.addTab('首页', 'home');"><i class="zmdi zmdi-home"></i> 首页</a>
            </li>
            <li class="sub-menu system_menus system_1 0 toggled">
                <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-accounts-list"></i> 短信收发管理</a>
                <ul>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('短信发送', '/sms/send.html');">短信发送</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('短信回复设置', '/sms/receive-resp-list.html');">短信回复设置</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('短信办理', '/sms/dowork-list.html');">短信办理</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('短信模板', '/sms/templates.html');">短信模板</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('短信发送查询', '/sms/send-list.html');">短信发送查询</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('短信接收查询', '/sms/receive-list.html');">短信接收查询</a></li>
                </ul>
            </li>
            <li class="sub-menu system_menus system_1 3">
                <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-accounts"></i> 通信录</a>
                <ul>
                    <!-- 
                    <li><a class="waves-effect" href="javascript:Tab.addTab('组织管理', '/org/list.html');">组织管理</a></li>
                     -->
                    <li><a class="waves-effect" href="javascript:Tab.addTab('组织用户管理', '/sms/org/users.html');">组织用户</a></li>
                </ul>
            </li>
            <li class="sub-menu system_menus system_1 6">
                <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-lock-outline"></i>短信收发统计</a>
                <ul>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('短信综合查询', '/sms/crud.html');">短信综合查询</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('满意度统计', '/sms/crud.html');">满意度统计</a></li>
                </ul>
            </li>

        </ul>
        <!-- /菜单区 -->
    </aside>
    <!-- /左侧导航区 -->
    <section id="content">
        <div class="content_tab">
            <div class="tab_left">
                <a class="waves-effect waves-light" href="javascript:;"><i class="zmdi zmdi-chevron-left"></i></a>
            </div>
            <div class="tab_right">
                <a class="waves-effect waves-light" href="javascript:;"><i class="zmdi zmdi-chevron-right"></i></a>
            </div>
            <ul id="tabs" class="tabs">
                <li id="tab_home" data-index="home" data-closeable="false" class="cur">
                    <a class="waves-effect waves-light">首页</a>
                </li>
            </ul>
        </div>
        <div class="content_main">

            <div id="iframe_home" class="iframe cur" layout:fragment="content">

                这是母版内容页


            </div>
        </div>
    </section>
</section>
<footer id="footer"></footer>

<script src="plugins/jquery.1.12.4.min.js"></script>
<script src="plugins/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="plugins/waves-0.7.5/waves.min.js"></script>
<script src="plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="plugins/BootstrapMenu.min.js"></script>
<script src="plugins/device.min.js"></script>
<script src="plugins/fullPage/jquery.fullPage.min.js"></script>
<script src="plugins/fullPage/jquery.jdirk.min.js"></script>
<script src="plugins/jquery.cookie.js"></script>

<script src="js/admin.js"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>