<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" 
	layout:decorator="layout/front">
<head>
<title>首页</title>
</head>
<body>
<div layout:fragment="content">
    
    	<div class="row">

			<div class="col-md-20">

                <section class="content-list">
                    <ol class="posts-list">
                        <li id="ember1375" class="gh-posts-list-item ember-view">
                            <h3 class="gh-content-entry-title">
                                <a title="Edit this post" href="#/editor/5abc952acf47a60001bc8c2e/" id="ember1376" class="permalink ember-view">[图]Wear OS开发者预览版放出：大幅提升续航表现</a></h3>
                            <p>在Android Wear更名Wear
                                OS之外，这款面向智能手表的操作系统在性能上也获得了大量改进。目前Google已经放出了开发者预览版，而且用户可以进行下...</p>

                            <section class="gh-content-entry-meta">
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <span class="gh-content-status-published">Published</span>

                                by <span class="gh-content-entry-author">sam.shi</span> —

                                29 Mar 2018
                            </section>
                        </li>
                        <li id="ember1377" class="gh-posts-list-item ember-view"><h3 class="gh-content-entry-title"><a title="Edit this post" href="#/editor/5ab34c93afa0f20001db96ee/" id="ember1378" class="permalink ember-view">HI:我的新地盘</a></h3>
                            <p>hi,这是一个新地方，一直都想做点东西，希望有始有终。。。...</p>

                            <section class="gh-content-entry-meta">
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <span class="gh-content-status-published">Published</span>

                                by <span class="gh-content-entry-author">sam.shi</span> —

                                22 Mar 2018
                            </section>
                        </li>
                        <li id="ember1379" class="gh-posts-list-item ember-view"><h3 class="gh-content-entry-title"><a title="Edit this post" href="#/editor/5ab34c51560eaf001653c0ae/" id="ember1380" class="permalink ember-view">Welcome to Ghost</a></h3>
                            <p>Hey! Welcome to Ghost, it's great to have you :)

                                We know that first impressions...</p>

                            <section class="gh-content-entry-meta">
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <span class="gh-content-status-published">Published</span>

                                by <span class="gh-content-entry-author">Ghost</span> —

                                22 Mar 2018
                            </section>
                        </li>
                        <li id="ember1381" class="gh-posts-list-item ember-view"><h3 class="gh-content-entry-title"><a title="Edit this post" href="#/editor/5ab34c51560eaf001653c0ad/" id="ember1382" class="permalink ember-view">Using the Ghost editor</a></h3>
                            <p>Ghost uses a language called Markdown  to format text.

                                When you go to edit a po...</p>

                            <section class="gh-content-entry-meta">
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <span class="gh-content-status-published">Published</span>

                                by <span class="gh-content-entry-author">Ghost</span> —

                                22 Mar 2018
                            </section>
                        </li>
                        <li id="ember1383" class="gh-posts-list-item ember-view"><h3 class="gh-content-entry-title"><a title="Edit this post" href="#/editor/5ab34c51560eaf001653c0ac/" id="ember1384" class="permalink ember-view">Organising your content with tags</a></h3>
                            <p>Ghost has a single, powerful organisational taxonomy, called tags.

                                It doesn't m...</p>

                            <section class="gh-content-entry-meta">
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <span class="gh-content-status-published">Published</span>

                                by <span class="gh-content-entry-author">Ghost</span> —

                                22 Mar 2018
                            </section>
                        </li>
                        <li id="ember1385" class="gh-posts-list-item ember-view"><h3 class="gh-content-entry-title"><a title="Edit this post" href="#/editor/5ab34c51560eaf001653c0ab/" id="ember1386" class="permalink ember-view">Managing Ghost users</a></h3>
                            <p>Ghost has a number of different user roles for your team

                                Authors
                                The base user ...</p>

                            <section class="gh-content-entry-meta">
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <span class="gh-content-status-published">Published</span>

                                by <span class="gh-content-entry-author">Ghost</span> —

                                22 Mar 2018
                            </section>
                        </li>
                        <li id="ember1387" class="gh-posts-list-item ember-view"><h3 class="gh-content-entry-title"><a title="Edit this post" href="#/editor/5ab34c51560eaf001653c0aa/" id="ember1388" class="permalink ember-view">Making your site private</a></h3>
                            <p>Sometimes you might want to put your site behind closed doors

                                If you've got a p...</p>

                            <section class="gh-content-entry-meta">
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <span class="gh-content-status-published">Published</span>

                                by <span class="gh-content-entry-author">Ghost</span> —

                                22 Mar 2018
                            </section>
                        </li>
                        <li id="ember1389" class="gh-posts-list-item ember-view"><h3 class="gh-content-entry-title"><a title="Edit this post" href="#/editor/5ab34c51560eaf001653c0a9/" id="ember1390" class="permalink ember-view">Advanced Markdown tips</a></h3>
                            <p>There are lots of powerful things you can do with the Ghost editor

                                If you've go...</p>

                            <section class="gh-content-entry-meta">
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <span class="gh-content-status-published">Published</span>

                                by <span class="gh-content-entry-author">Ghost</span> —

                                22 Mar 2018
                            </section>
                        </li>
                        <li id="ember1391" class="gh-posts-list-item ember-view"><h3 class="gh-content-entry-title"><a title="Edit this post" href="#/editor/5ab34c51560eaf001653c0a8/" id="ember1392" class="permalink ember-view">Setting up your own Ghost theme</a></h3>
                            <p>Creating a totally custom design for your publication

                                Ghost comes with a beauti...</p>

                            <section class="gh-content-entry-meta">

                                <span class="gh-content-status-published">Published</span>

                                by <span class="gh-content-entry-author">Ghost</span> —

                                22 Mar 2018
                            </section>
                        </li>
                    </ol>

                    <div id="ember1393" class="infinity-loader reached-infinity in-viewport ember-view"><!----></div>
                </section>

			</div>
            <div class="col-md-4">

                <div class="dropdown">
                    <button id="example-dropdown" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                        Dropdown sample
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-example">
                        <li><a href="#">Item 1</a></li>
                        <li><a href="#">Item 2</a></li>
                        <li><a href="#" class="disabled">Disabled</a></li>
                    </ul>
                </div>

            </div>
		</div>
		
    </div>
    
</body>
</html>